In [64]:
import numpy as np
import pandas as pd
import sklearn

In [65]:
movies = pd.read_csv(
    'Assignment_1/ml-1m/movies.dat',
    sep = "::",
    names = ['MovieID', 'Title', 'Genres'],
    encoding='latin-1',
    engine='python',
)

movies.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [66]:
ratings = pd.read_csv(
    'Assignment_1/ml-1m/ratings.dat',
    sep = "::",
    names = ['UserID', 'MovieID', 'Rating', 'Timestamp'],
    encoding='latin-1',
    engine='python',
)

ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [67]:
users = pd.read_csv(
    'Assignment_1/ml-1m/users.dat',
    sep = "::",
    names = ['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code'],
    encoding='latin-1',
    engine='python',
)

users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [68]:
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import svm

In [69]:
## Global rating method

x = ratings.sample(frac = 1)
X = np.array_split(x, 5)

rmses = []
maes = []

for i in range(5):
    X_test = X[i]
    X_train = pd.concat([X[j] for j in range(5) if j!=i])
    average_score = np.mean(X_train['Rating'])
    reccomendations = np.array([average_score]*len(X_test))
    rmse = np.sqrt(np.mean((reccomendations - X_test['Rating'])**2))
    rmses += [rmse]
    mae = np.mean(abs(reccomendations - X_test['Rating']))
    maes += [mae]

In [72]:
## Per user rating

x = ratings.sample(frac = 1)
X = np.array_split(x, 5)

rmses = []
maes = []

for i in range(5):
    X_test = X[i]
    X_train = pd.concat([X[j] for j in range(5) if j!=i])
    reccomendations=[]
    rat=dict.fromkeys(np.unique(X_train['UserID']))
    
    for user in np.unique(X_train['UserID']):
        rat[user]=X_train.loc[X_train['UserID']==user]['Rating'].mean()
    for user in X_test['UserID']:
        if user in rat:
            reccomendations.append(rat[user])
        else:
            reccomendations.append(np.mean(X_train['Rating']))
    
    rmse = np.sqrt(np.mean((reccomendations - X_test['Rating'])**2))
    rmses += [rmse]
    mae = np.mean(abs(reccomendations - X_test['Rating']))
    maes += [mae]

In [75]:
## Per item rating

x = ratings.sample(frac = 1)
X = np.array_split(x, 5)

rmses = []
maes = []

for i in range(5):
    X_test = X[i]
    X_train = pd.concat([X[j] for j in range(5) if j!=i])
    reccomendations=[]
    rat=dict.fromkeys(np.unique(X_train['MovieID']))
    
    for movie in np.unique(X_train['MovieID']):
        rat[movie]=X_train.loc[X_train['MovieID']==movie]['Rating'].mean()
    for movie in X_test['MovieID']:
        if movie in rat:
            reccomendations.append(rat[movie])
        else:
            reccomendations.append(np.mean(X_train['Rating']))
    
    rmse = np.sqrt(np.mean((reccomendations - X_test['Rating'])**2))
    rmses += [rmse]
    mae = np.mean(abs(reccomendations - X_test['Rating']))
    maes += [mae]

In [76]:
np.mean(rmses)

0.9793742781072702

In [77]:
np.mean(maes)

0.7823093240281335

In [ ]:
(0, 5)

In [63]:
a[~0]

5