In [1]:
import pandas as pd
from sklearn.model_selection import KFold

In [2]:
# loading data
movies = pd.read_csv(
    'movies.dat',
    sep = "::",
    names = ['MovieID', 'Title', 'Genres'],
    encoding='latin-1',
    engine='python',
)

ratings = pd.read_csv(
    'ratings.dat',
    sep = "::",
    names = ['UserID','MovieID','Rating','Timestamp'],
    encoding='latin-1',
    engine='python',
)

users = pd.read_csv(
    'users.dat',
    sep = "::",
    names = ['UserID', 'Gender', 'Age','Occupation','Zip-code'],
    encoding='latin-1',
    engine='python',
)
display(movies.head())
display(users.head())
ratings.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

## 1. Recommender System

## 1.2 UV Matrix Decomposition

Notes: To increase our chances of finding the global minimum, we need to pick many dif- ferent starting points, that is, different choices of the initial matrices U and V . However, there is never a guarantee that our best local minimum will be the global minimum.

In [3]:
import numpy as np

In [30]:
# creating matrix M
Utility_DF = ratings.pivot(index = 'UserID', columns ='MovieID', values = 'Rating')
M = Utility_DF.to_numpy()
M.shape
B = M - np.nanmean(M,axis=1, keepdims=True)
B = B - np.nanmean(M, axis=0, keepdims=True)
print(M)
print(B)

[[ 5. nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 ...
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 [ 3. nan nan ... nan nan nan]]
[[-3.33552566         nan         nan ...         nan         nan
          nan]
 [        nan         nan         nan ...         nan         nan
          nan]
 [        nan         nan         nan ...         nan         nan
          nan]
 ...
 [        nan         nan         nan ...         nan         nan
          nan]
 [        nan         nan         nan ...         nan         nan
          nan]
 [-4.72455902         nan         nan ...         nan         nan
          nan]]

In [135]:
class Matrix_Decomposition:
    def __init__(self, matrix, dimensions = 5, iterations = 1):
        self.matrix = matrix
        self.n = self.matrix.shape[0]
        self.m = self.matrix.shape[1]
        self.d = dimensions
        self.normalized = self.matrix - np.nanmean(self.matrix,axis=1, keepdims=True)
        self.normalized = self.matrix - np.nanmean(self.matrix,axis=0, keepdims=True)
        self.U = np.random.rand(self.n,self.d) + np.sqrt(np.nanmean(self.matrix)/self.d)
        self.V = np.random.rand(self.d,self.m) + np.sqrt(np.nanmean(self.matrix)/self.d)
        self.iter = iterations


        
    def rmse(self):
        e = 0.
        c = 0.
        UV = np.dot(self.U,self.V)
        for i in range(0,self.n):
            for j in range(0,self.normalized[i].shape[0]):
                e += (self.normalized[i,j]-UV[i,j])**2
                c += 1
                return np.sqrt(e/c)

            
    def rmse_new(self):
        UV = np.dot(self.U,self.V)
        error = np.nanmean((self.normalized - UV)**2)
        return error



    def UV(self):
        err = [self.rmse_new()]
        for i in range(self.iter):
            # decompose User matrix
            for r in range(0,self.n):
                for s in range(0,self.d):
                    m = np.array(self.normalized[r,:])
                    v = np.array(self.V[s,:])
                    u = np.array(self.U[r,:])
                    index_no_s = np.array(range(self.d)) != s
                    
                    # formula page 334
                    #self.U[r,s]=float(np.nansum(self.V[s,:]*(m-np.matmul(self.normalized[r,:],self.V[:])-(self.U[r,s]*self.V[s,:]))))/np.nansum(np.square(v))
                    #self.U[r,s]=float(np.nansum(v * (m-np.nansum(self.U[r,s]*v))))/np.nansum(np.square(v))
                    self.U[r,s]=float(np.nansum(v * (m-np.sum(np.dot(u[index_no_s].transpose(),self.V[index_no_s,:])))))/np.sum(v**2)
            
            # decompose item matrix
            for s in range(0,self.m):
                for r in range(0,self.d):
                    m = np.array(self.normalized[:,s])
                    u = np.array(self.U[:,r])
                    v = np.array(self.V[:,s])
                    index_no_r = np.array(range(self.d)) != r
                    
                    # formula page 334
                    #self.V[r,s]=float(np.nansum(self.U[:, r] * (m - np.matmul(self.U[:], self.V[:,s]) - (self.V[r, s] * self.U[:, r]))))/np.nansum(np.square(u))
                    self.V[r,s]=float(np.nansum(u * (m-np.sum(np.dot(self.U[:,index_no_r],v[index_no_r])))))/np.sum(u**2)

            if err[i] - self.rmse_new() < 0.0001 and i > self.iter/2:
                break
            
            else:
                err.append(self.rmse_new())
            
        return self.U, self.V, err

In [136]:
model_matrix = Matrix_Decomposition(M, iterations = 90)

In [ ]:
uv = model_matrix.UV()

In [ ]:
uv[2]

In [118]:
uv

(array([[-5.71914660e+01,  2.51800465e+03, -1.14991962e+05,
          4.73479155e+06, -1.73118882e+08],
        [-1.52880941e+02,  1.51253966e+04, -1.39729603e+06,
          1.43382494e+08, -1.32496931e+10],
        [-7.47730409e+01,  3.18133796e+03, -1.19733099e+05,
          4.65491280e+06, -1.97253857e+08],
        ...,
        [-3.59633558e+01,  4.42837542e+02, -6.34587887e+03,
          8.98432209e+04, -1.13850266e+06],
        [-1.93156381e+02,  1.74521322e+04, -1.64750328e+06,
          1.60546715e+08, -1.49438404e+10],
        [-2.92961540e+02,  7.21365281e+04, -1.84786683e+07,
          4.76527872e+09, -1.20283582e+12]]),
 array([[-2.50194884e+13, -3.42589525e+13, -2.10523720e+13, ...,
         -1.37462391e+12, -2.08443882e+12, -2.63269625e+13],
        [-3.17956564e+13, -2.89432989e+13, -1.21145455e+13, ...,
         -1.76612406e+11, -8.15438708e+10, -1.02207050e+13],
        [-5.65377322e+12, -4.23851593e+12, -1.24896661e+12, ...,
         -6.02565703e+09, -5.21550487e+08, -7.54449461e+11],
        [-1.64564411e+11, -1.26535754e+11, -2.74588625e+10, ...,
         -6.21309299e+07, -5.04904967e+05, -1.28195666e+10],
        [-1.04356185e+09, -1.06267219e+09, -1.78219670e+08, ...,
         -2.39546868e+05,  5.49248250e+00, -6.86060618e+07]]),
 [2.8253621419415644])